extends ../layout

block content
	.container
		.row
			.col-md-4
				img(src="/upload/#{movie.poster}", alt="#{movie.title}",style="height:500px;width:720px")
				.panel.panel-defatul
					.panel-heading
						h3 评论区
					.panel-body
						ul.media-list
							each item in comments
								li.media
									.pull-left
										a.comment(href="#comments",data-cid="#{item._id}",data-tid="#{item.from._id}")
											img.media-odject(src=rc="http://7xsktl.com1.z0.glb.clouddn.com/u=2871058462,3794837019&fm=21&gp=0.jpg",width="40",height="40")
									.media-body
												h4.media-heading #{item.from.name}
										p #{item.content}
										if item.reply && item.reply.length > 0
											each reply in item.reply
												.media
													.pull-left
														a.comment(href="#comments",data-cid="#{item._id}",data-tid="#{reply.from._id}")
															img.media-odject(src="http://7xsktl.com1.z0.glb.clouddn.com/u=2871058462,3794837019&fm=21&gp=0.jpg",width="40",height="40")
													.media-body
														h4.media-heading #{reply.from.name} 
															span.text-info &nbsp;回复:
															&nbsp;#{reply.to.name}
														p #{reply.content}
										hr
							#comments
								form#commentForm(method="POST",action="/user/comment")
									input(type="hidden",name="comment[movie]",value="#{movie._id}")
									if(user)
										input(type="hidden",name="comment[from]",value="#{user._id}")
									.form-group
										textarea.form-control(name="comment[content]",row="3")
									if(user)
										button.btn.btn-primary(type="submit") 提交
									else

										a.navbar-link(href="#",data-toggle="modal",data-target="#signinModal") 登录后评论


								hr
								hr						
			.col-md-1
			.col-md-5(style="float:right")
				dl.dl-horizontal
					dt 活动名字
					dd=movie.title
					dt 承办单位
					dd=movie.doctor
					dt 年份
					dd=movie.year
					dt 简介
					dd=movie.summary
					dd
						a.btn(href="#",data-toggle="modal",data-target="#applyModal",role="button",style="background-color:#e00010;color:white;margin-bottom:40px") 我要报名
						#applyModal.modal.fade
							.modal-dialog(style="width:80%")
								.modal-content(style="height:80%")
									form(method="POST",action="/apply",style="font-size:30px;")
										.modal-header 我要报名
										.modal-body
											input(type="hidden",name="apply[movie]",value="#{movie._id}")
											.form-group
												label(for="applyName") 姓名
												input#applyName.form-control(name="apply[name]",type="text",placeholder="请务必填写真名",style="height:100px")
											.form-group
												label(for="applyCourse") 学号
												input#applyCourse.form-control(name="apply[ID]",type="text",placeholder="本科生务必填写准确学号用以申请工时",style="height:100px")
											.form-group
												label(for="applyCourse") 学院班级
												input#applyCourse.form-control(name="apply[course]",type="text",placeholder="eg:软工1502班",style="height:100px")
											.form-group
												label(for="applyContact") 电话号码
												input#applyContact.form-control(name="apply[contact]",type="text",placeholder="请务必填写准确(毕竟没有短信验证)",style="height:100px")
											.form-group
												label(for="applySparetime") 空闲时间
												input#applySparetime.form-control(name="apply[sparetime]",type="text",placeholder="eg:1-9周周日,2-5周周四下午",style="height:100px")            	
											.form-group
												label(for="applyInformation") 备注
												textarea#applyInformation.form-control(name="apply[information]",type="text",row="3",placeholder="可以填上特殊要求,例如虐狗组,基友组,全班桶",style="height:250px")
										.modal-footer
											button.btn.btn-default(type="button",data-dismiss="modal") 关闭
											button.btn.btn-success(type="submit") 提交

	script(src="/js/detail.js")
