extends ../layout

block content
  .col-md-8
    #myCarousel.carousel.slide
      ol.carousel-indicators
        li.active(data-target="#myCarousel",data-slide-to="0")
        li(data-target="#myCarousel",data-slide-to="1")
        li(data-target="#myCarousel",data-slide-to="2")
      .carousel-inner
        .item.active
          img(src="/images/v1.jpg",alt="First slide")
          .carousel-caption 
            h1 华中科技大学软件学院义工部东湖磨山义工
        .item
          img(src="/images/v2.jpg",alt="Second slide")
          .carousel-caption 
            h1 华中科技大学软件学院义工部东图书馆义工
        .item
          img(src="/images/v3.jpg",alt="Third silde")
          .carousel-caption 
            h1 华中科技大学软件学院义工部校医院义工
      a.carousel-control.left(href="#myCarousel",data-slide="prev") &lsaquo;
      a.carousel-control.right(href="#myCarousel",data-slide="next") &rsaquo;
  .container
    .row
      each cat in categories
        .panel.panel-default
          .panel-heading
            h4 
              a(href='/results?cat=#{cat._id}&p=0') #{cat.name}
          .panel-body
            if cat.movies && cat.movies.length>0
              each item in cat.movies
                .col-md-2
                  .thumbnail.image_size
                    a(href="/movie/#{item._id}")
                      if item.poster.indexOf('http')>-1
                        img(src="#{item.poster}", alt="#{item.title}")
                      else
                        img(src="/upload/#{item.poster}", alt="#{item.title}")

                    .caption
                      h4 #{item.title}
                      p: a.btn.btn-primary(href="/movie/#{item._id}", role="button") 观看
